<div class="container">
  <div class="col-wrapper">
    <div class="col col--primary">
      {{#each sixpacks}}
        {{> sixpack}}
      {{/each}}
    </div>
    <div class="col col--secondary">
      Sidebar
    </div>
  </div>
</div>
