<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body class="theme--{{section}}">
    <div id="page-main-content" class="page-main-content dfp-space-hpto--background fjs-hpto--background" role="main">
			<a href="" class="dfp-space-hpto--clickbox fjs-hpto--clickbox"></a>

			<div class="page-content">{{{body}}}</div>

			<div class="dfp-space dfp-space--bottom fjs-dfp-space--bottom">
				<div class="fjs-dfp fjs-dfp--bottom1" data-dfp-position="bottom" data-dfp-screensize="" data-dfp-number="1"></div>
			</div>
		</div>
  </body>
</html>
